* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: #4A5459;
    color: #FFFFF0;
    font-family: montserrat;
}

main, header {
    display: grid;
    justify-content: center;
}

header, section { 
    margin: 1em 0;
}

input { 
    height: 2.5em;
    border: none;
    border-radius: .3em;
}

button {
    background-color: #50C878;
    font-family: montserrat;
    color: #FFFFF0;
    border: none;
    border-radius: .3em;
    text-align: center;
    height: 2.5em;
    width: 3em;
}

ul {
    list-style-type: circle;
}

li {
    margin-bottom: .5em;
    background-color: rgba(255, 255, 255, .2);
    padding: .5em;
    border: none;
    border-radius: .3em;
}